<div class="row">
    <div class="col-md-6 offset-md-3">
        <form name="signupForm" #f="ngForm" (ngSubmit)="signUp(f)">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input class="form-control" required minlength="2" type="nome" #nome="ngModel" ngModel name="nome" id="nome">
                <div class="alert-danger" *ngIf="nome.invalid && nome.dirty && nome.touched"> 
                    Il campo nome è invalido
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" required email type="email" #email="ngModel" ngModel name="email" id="email">
                <div class="alert-danger" *ngIf="email.invalid && email.dirty && email.touched"> 
                    Il campo email è invalido
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" required minlength="6" type="password" #password="ngModel" ngModel name="password" id="password">
                <div class="alert-danger" *ngIf="password.invalid && password.dirty && password.touched"> 
                     <!-- <div *ngIf="password.errors.minlength">
                        Il campo password è invalido {{password.errors.minlength.actualLength}} len.
                    </div>
                    {{password.errors | json}}-->
                    Il campo password è invalido
                </div> 
            </div>
            <div class="form-group text-center">
                <button [disabled]="!f.valid" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
</div>
