<td>{{user.name}}</td>
<td>{{user.lastname}}</td>
<td>{{user.fiscalcode}}</td>
<td>{{user.email}}</td>
<td>{{user.telephone}}</td>
<td>{{user.province}}</td>
<td>{{user.age}}</td>
<td>
    <div class="row">
        <div class="col-4">
            <button class="btn btn-primary" (click)="infoUser()">INFO</button>
        </div>
        <div class="col-4">
            <button class="btn btn-success" (click)="updateUser()">UPDATE</button>
        </div>
        <div class="col-4">
            <button class="btn btn-danger" (click)="deleteUser()">DELETE</button>
        </div>
    </div>
</td>
